*{
    box-sizing: border-box;

}

body{
    background-image: url( '    circle-scatter-haikei.svg' );
    background-repeat: no-repeat;
    background-size: 100vw auto;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;   
    font-family: sans-serif;
    

}

h1{
    display: flex;
    justify-content: center;
    font-family:sans-serif;
    font-weight: 900;
    font-size: 3rem;

}

.container{
    background-color: white;
    padding: 3.5rem 10rem; 
    border-radius: 1rem ;
    width: 1800px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px; 

}

.cardContainer{
    max-width: 1500px;
    display: flex;
    justify-content: space-evenly;
    gap: 10rem;
    align-items: center;
    box-sizing: border-box;
}
.card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}



input[type="radio"]{
    display:none;
}

label{
    background-color: #f8f5f5;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 200px;
    padding: 2rem 2rem;
    border-radius: 10px;
    margin:0;
    transform-style: preserve-3d;
    transition: ease-in 0.25s;


}

label:hover{
    background-color: #68d8d1;
    transition: ease-in 0.25s;
    cursor: pointer;
    transform: rotateY(180deg);
}

.card input[type="radio"]:checked + label{
    background-color: #68d8d1;
}

button{
    background-color: #68d8d1;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    
    padding: 1rem 5.5rem;
    cursor: pointer;
    border-radius: 5px;
}

button:hover{
    background-color: #3bb0a7;
    transition: ease-in 0.15s;
}

span{
    font-weight: 700;
}

img{
    width: 120px;
}
.front{
    backface-visibility: hidden;

    
}

.back{
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    font-size: 3rem;
   
}

